<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 53.3 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=7635a3f7db3f5638b14f29c6f347b6c1b4459e932566be64ee757b782e105f14
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:This below code is added to remove blank rows from table**

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [20]:
# Nome da sua tabela
tabela = 'SPACEXTABLE'

# Consulta para obter os nomes das colunas
query = f"PRAGMA table_info({tabela});"

# Executar a consulta e armazenar os resultados em um DataFrame do Pandas
resultado = pd.read_sql_query(query, con)

# Mostrar os nomes das colunas
print(resultado['name'].tolist())
print("\n===========\n")
# Consulta para obter os nomes únicos dos locais de lançamento
query_launch_sites = "SELECT DISTINCT Launch_Site FROM SPACEXTABLE;"

# Executar a consulta e armazenar os resultados em um DataFrame do Pandas
launch_sites = pd.read_sql_query(query_launch_sites, con)

# Mostrar os nomes únicos dos locais de lançamento
for site in launch_sites['Launch_Site']:
    print(site)

['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']

===========

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [22]:
# Consulta para obter 5 registros onde o Launch_Site começa com 'CCA'
query_records = "SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5;"

# Executar a consulta e armazenar os resultados em um DataFrame do Pandas
records_starting_with_CCA = pd.read_sql_query(query_records, con)

# Mostrar os registros um a um
for index, row in records_starting_with_CCA.iterrows():
    print(row)

Date                                           2010-06-04
Time (UTC)                                       18:45:00
Booster_Version                            F9 v1.0  B0003
Launch_Site                                   CCAFS LC-40
Payload              Dragon Spacecraft Qualification Unit
PAYLOAD_MASS__KG_                                       0
Orbit                                                 LEO
Customer                                           SpaceX
Mission_Outcome                                   Success
Landing_Outcome                       Failure (parachute)
Name: 0, dtype: object
Date                                                        2010-12-08
Time (UTC)                                                    15:43:00
Booster_Version                                         F9 v1.0  B0004
Launch_Site                                                CCAFS LC-40
Payload              Dragon demo flight C1, two CubeSats, barrel of...
PAYLOAD_MASS__KG_                                                    0
Orbit                                                        LEO (ISS)
Customer                                               NASA (COTS) NRO
Mission_Outcome                                                Success
Landing_Outcome                                    Failure (parachute)
Name: 1, dtype: object
Date                            2012-05-22
Time (UTC)                         7:44:00
Booster_Version             F9 v1.0  B0005
Launch_Site                    CCAFS LC-40
Payload              Dragon demo flight C2
PAYLOAD_MASS__KG_                      525
Orbit                            LEO (ISS)
Customer                       NASA (COTS)
Mission_Outcome                    Success
Landing_Outcome                 No attempt
Name: 2, dtype: object
Date                     2012-10-08
Time (UTC)                  0:35:00
Booster_Version      F9 v1.0  B0006
Launch_Site             CCAFS LC-40
Payload                SpaceX CRS-1
PAYLOAD_MASS__KG_               500
Orbit                     LEO (ISS)
Customer                 NASA (CRS)
Mission_Outcome             Success
Landing_Outcome          No attempt
Name: 3, dtype: object
Date                     2013-03-01
Time (UTC)                 15:10:00
Booster_Version      F9 v1.0  B0007
Launch_Site             CCAFS LC-40
Payload                SpaceX CRS-2
PAYLOAD_MASS__KG_               677
Orbit                     LEO (ISS)
Customer                 NASA (CRS)
Mission_Outcome             Success
Landing_Outcome          No attempt
Name: 4, dtype: object

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [23]:
# Consulta para calcular a soma da carga útil transportada por foguetes lançados pela NASA (CRS)
query_total_payload_nasa = "SELECT SUM(PAYLOAD_MASS__KG_) AS Total_Payload_NASA_CRS FROM SPACEXTABLE WHERE Customer LIKE '%NASA (CRS)%';"

# Executar a consulta e armazenar os resultados em um DataFrame do Pandas
total_payload_nasa_crs = pd.read_sql_query(query_total_payload_nasa, con)

# Mostrar a massa total da carga útil transportada por foguetes lançados pela NASA (CRS)
print("Total Payload Mass Carried by NASA (CRS) Boosters:")
print(total_payload_nasa_crs['Total_Payload_NASA_CRS'][0], "kg")

Total Payload Mass Carried by NASA (CRS) Boosters:
48213 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [24]:
# Consulta para calcular a média da carga útil transportada pela versão do foguete F9 v1.1
query_avg_payload_f9_v1_1 = "SELECT AVG(PAYLOAD_MASS__KG_) AS Avg_Payload_F9_v1_1 FROM SPACEXTABLE WHERE Booster_Version = 'F9 v1.1';"

# Executar a consulta e armazenar os resultados em um DataFrame do Pandas
avg_payload_f9_v1_1 = pd.read_sql_query(query_avg_payload_f9_v1_1, con)

# Mostrar a média da massa da carga útil transportada pela versão do foguete F9 v1.1
print("Average Payload Mass Carried by Booster Version F9 v1.1:")
print(avg_payload_f9_v1_1['Avg_Payload_F9_v1_1'][0], "kg")

Average Payload Mass Carried by Booster Version F9 v1.1:
2928.4 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [25]:
# Consulta para encontrar a data do primeiro pouso bem-sucedido em um pad terrestre
query_first_successful_landing = "SELECT MIN(Date) AS First_Successful_Landing_On_Ground_Pad FROM SPACEXTABLE WHERE Landing_Outcome LIKE 'Success (ground pad)';"

# Executar a consulta e armazenar os resultados em um DataFrame do Pandas
first_successful_landing = pd.read_sql_query(query_first_successful_landing, con)

# Mostrar a data do primeiro pouso bem-sucedido em um pad terrestre
print("Date of First Successful Landing on Ground Pad:")
print(first_successful_landing['First_Successful_Landing_On_Ground_Pad'][0])

Date of First Successful Landing on Ground Pad:
2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [26]:
# Consulta para encontrar os nomes dos boosters que tiveram sucesso em um drone ship e a carga útil foi entre 4000 e 6000
query_boosters = """
    SELECT Booster_Version 
    FROM SPACEXTABLE 
    WHERE Landing_Outcome = 'Success (drone ship)' 
    AND PAYLOAD_MASS__KG_ > 4000 
    AND PAYLOAD_MASS__KG_ < 6000;
"""

# Executar a consulta e armazenar os resultados em um DataFrame do Pandas
successful_boosters = pd.read_sql_query(query_boosters, con)

# Mostrar os nomes dos boosters que satisfazem os critérios
print("Boosters with Success in Drone Ship and Payload Mass between 4000 and 6000:")
print(successful_boosters['Booster_Version'].tolist())

Boosters with Success in Drone Ship and Payload Mass between 4000 and 6000:
['F9 FT B1022', 'F9 FT B1026', 'F9 FT  B1021.2', 'F9 FT  B1031.2']

### Task 7




##### List the total number of successful and failure mission outcomes

In [28]:
# Consulta para contar o número total de missões bem-sucedidas e falhas
query_mission_outcomes = """
    SELECT Mission_Outcome, COUNT(*) as Total
    FROM SPACEXTABLE
    WHERE Mission_Outcome IN ('Success', 'Failure')
    GROUP BY Mission_Outcome;
"""

# Executar a consulta e armazenar os resultados em um DataFrame do Pandas
mission_outcomes_count = pd.read_sql_query(query_mission_outcomes, con)

# Mostrar o número total de missões bem-sucedidas e falhas
print("Total Number of Successful and Failed Mission Outcomes:")
for index, row in mission_outcomes_count.iterrows():
    print(row['Mission_Outcome'], ":", row['Total'])

Total Number of Successful and Failed Mission Outcomes:
Success : 98

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [29]:
# Consulta para encontrar as booster_versions que transportaram a carga útil máxima
query_max_payload_boosters = """
    SELECT Booster_Version
    FROM SPACEXTABLE
    WHERE PAYLOAD_MASS__KG_ = (
        SELECT MAX(PAYLOAD_MASS__KG_) 
        FROM SPACEXTABLE
    );
"""

# Executar a consulta e armazenar os resultados em um DataFrame do Pandas
max_payload_boosters = pd.read_sql_query(query_max_payload_boosters, con)

# Mostrar os nomes das booster_versions que transportaram a carga útil máxima
print("Booster Versions that Carried the Maximum Payload Mass:")
print(max_payload_boosters['Booster_Version'].tolist())

Booster Versions that Carried the Maximum Payload Mass:
['F9 B5 B1048.4', 'F9 B5 B1049.4', 'F9 B5 B1051.3', 'F9 B5 B1056.4', 'F9 B5 B1048.5', 'F9 B5 B1051.4', 'F9 B5 B1049.5', 'F9 B5 B1060.2 ', 'F9 B5 B1058.3 ', 'F9 B5 B1051.6', 'F9 B5 B1060.3', 'F9 B5 B1049.7 ']

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [31]:
# Consulta para listar os registros com os dados requisitados para o ano de 2015
query_2015_failures = """
    SELECT strftime('%Y-%m', Date) as Year_Month, Landing_Outcome, Booster_Version, Launch_Site
    FROM SPACEXTABLE
    WHERE strftime('%Y', Date) = '2015' AND Landing_Outcome LIKE '%Failure%' AND Landing_Outcome LIKE '%drone ship%'
"""

# Executar a consulta e armazenar os resultados em um DataFrame do Pandas
failures_2015 = pd.read_sql_query(query_2015_failures, con)

# Mostrar os registros que satisfazem os critérios
print("Records for Failure Landing Outcomes on Drone Ship in 2015:")
for index, row in failures_2015.iterrows():
    print(row)

Records for Failure Landing Outcomes on Drone Ship in 2015:
Year_Month                      2015-01
Landing_Outcome    Failure (drone ship)
Booster_Version           F9 v1.1 B1012
Launch_Site                 CCAFS LC-40
Name: 0, dtype: object
Year_Month                      2015-04
Landing_Outcome    Failure (drone ship)
Booster_Version           F9 v1.1 B1015
Launch_Site                 CCAFS LC-40
Name: 1, dtype: object

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [33]:
# Consulta para classificar a contagem de resultados de pousos entre as datas especificadas
query_landing_outcomes = """
    SELECT Landing_Outcome, COUNT(*) as Outcome_Count
    FROM SPACEXTABLE
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    AND Landing_Outcome IN ('Failure (drone ship)', 'Success (ground pad)')
    GROUP BY Landing_Outcome
    ORDER BY Outcome_Count DESC;
"""

# Executar a consulta e armazenar os resultados em um DataFrame do Pandas
landing_outcomes_rank = pd.read_sql_query(query_landing_outcomes, con)

# Mostrar o ranking da contagem de resultados de pousos
print("Ranking of Landing Outcomes between '2010-06-04' and '2017-03-20':")
for index, row in landing_outcomes_rank.iterrows():
    print(row)

Ranking of Landing Outcomes between '2010-06-04' and '2017-03-20':
Landing_Outcome    Failure (drone ship)
Outcome_Count                         5
Name: 0, dtype: object
Landing_Outcome    Success (ground pad)
Outcome_Count                         3
Name: 1, dtype: object

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>